@tailwind base;
@tailwind components;
@tailwind utilities;

.light-theme {
  --background-btn: #0079ff;
  --background: #f6f8ff;
  --background-secondary: #fefefe;
  --text-primary: #2b3442;
  --text-secondary: #4b6a9b;
  --box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.dark-theme {
  --background-btn: #0079ff;
  --background: #141d2f;
  --background-secondary: #1e2a47;
  --text-primary: #f6f8ff;
  --text-secondary: #697c9a;
  --box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.2);
}
* {
  transition: all 0.5s ease-in-out;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6rem 4.7rem;
  background-color: var(--background);
  color: var(--text-primary);
  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}
